# Virtual environment
.venv/
venv/

# Python cache files
__pycache__/
*.pyc

# PyCharm settings
.idea/

# Pytest cache
.pytest_cache/

# Test reports
reports/
*.html

# Operating system files
.DS_Store
Thumbs.db